<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Font Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <title>Game Vault</title>
</head>
<body class="fixed-bg rounded-3 h-100" style="background-image: url('/static/img/tech_background.png'); height: 400px;">
    <div class="col-12">
        <div class="flex-column justify-content-center align-items-center mask" style="background-color: rgba(0, 0, 0, 0.6)">
            <p class="project_name text-center bg-black my-0 p-2">Game Vault</p>
            <div class="d-flex justify-content-center bg-black p-3 b-bord">
                <button class="btn btn-danger mx-5" onclick="play_game_vault()" type="button">Play</button>
                <button class="btn btn-danger mx-5" onclick="pause_game_vault()" type="button">Pause</button>
            </div>
            <video id="game_vault" class="video p-3 my-3" src="/static/video/game_vault.mp4"></video>
        </div>
        <!-- Software/Skills/Contact -->
        <div class="row text-center text-light dev_info">
            <div class="col-lg-4">
                <p class="career_text ssc">Software</p>
                <p class="mb-1">macOS</p>
                <p class="mb-1">Visual Studio Code | MySQL</p>
            </div>
            <div class="col-lg-4">
                <p class="career_text ssc">Skills</p>
                <p class="mb-1">HTML/CSS - Bootstrap | Flexbox</p>
                <p class="mb-1">Javascript</p>
                <p class="mb-1">Python - Flask</p>
                <p>MySQL</p>
            </div>
            <div class="col-lg-4">
                <p class="career_text ssc">Contact</p>
                <a class="links" href="https://www.linkedin.com/in/brandoncancode">
                    <img class="icons" src="/static/img/bw_linkedin.png" alt="LinkedIn">
                </a>
                <a class="links" href="https://www.github.com/Brando129">
                    <img class="icons" src="/static/img/bw_github.png" alt="GitHub">
                </a>
                <a class="links" href="mailto:brandoncancode@gmail.com">
                    <img class="icons" src="/static/img/bw_email.png" alt="Gmail">
                </a>
                <p class="contact_text">If you enjoy coding, or would like to work together...</p>
            </div>
            <!-- Footer -->
            <p class="text-center footer_info text-light">©Copyright 2023 - Company Name </p>
            <!-- End of Footer -->
        </div>
        <!-- End of Software/Skills/Contact -->
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>